@import "gallery";

figure {
  margin: 0;
}

.navigation__item {
  figure {
    height: 25vw;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
  img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}
.item__landscape,
.item__portrait {
  cursor: url("../../public/images/suurennus_36x36.png") 18 18, auto;
}