body {
  font-family: 'Hammersmith One', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-nero);
}
a {
  &:hover,
  &:focus,
  &:visited {
    color: var(--color-nero);
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.6rem;
  line-height: 1.3;
}

h1 {
  &.project__title,
  &.page__title {
    border-bottom: .2rem solid var(--color-nero);
    max-width: fit-content;
  }
}